.blog-post-section {

	.content-wrapper {
		max-width: 770px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.post-date {
		border-left: 4px solid $primary-color;
		color: $datesColor;
		padding: 2px 0 2px 16px;
		margin-bottom: 24px;
		font-weight: 600;
	}
	.section-header {
		margin-bottom: 30px;
	}
	.content {
		margin-bottom: 20px;

		img {
			display: block;
			width: 100%;
			margin-bottom: 50px;
		}
		h2 {
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 25px;
		}
		p {
			margin-bottom: 25px;
			color: $alternativeBlackColor1;
			line-height: 22px;
		}
	}
	.share-links {
		margin: 0 0 80px -8px;
		display: flex;

		a {
			width: 30px;
			height: 30px;
			margin: 0 5px 0 5px;
			display: block;

			&.twitter {
				background: url(../img/icon-twitter-blue.svg) center/auto no-repeat;
			}
			&.facebook {
				background: url(../img/icon-facebook-blue.svg) center/auto no-repeat;
			}
		}
	}
	.recent-posts {

		.nm-wrapper {

			&::before,
			&::after {
				margin: 0 -15px 0 0;
			}

			&>div {
				justify-content: center;
			}
		}
		.blog-entry {
			margin: 0 15px 30px 15px;
			max-width: 370px;
			min-width: 250px;
		}
	}
}
