.watchlist-section {

	.content-wrapper {
		padding: 35px 0 25px 0;
	}

	.car-entry-horizontal {
		margin: 0 0 16px 0;
	}
	.header-zone {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;

		.section-header {
			margin: 0 15px 15px 0;
		}

		.filters {

			&::before, &::after {
				margin: 0 -15px 0 0;
			}
			.input-group {
				margin: 0 15px 15px 15px;
			}
		}
	}
	.modal-content-remove-car {
		max-width: 335px;

		.buttons-group {
			text-align: right;

			.button {
				margin: 0 0 0 10px;
			}
		}
	}
}
