// Font
$mainFont						: 'Open sans', Helvetica, Arial, sans-serif;
$headerFont						: 'Raleway', Helvetica, Arial, sans-serif;
$alternativeFont				: 'Poppins', Helvetica, Arial, sans-serif;
$buttonFont						: $headerFont;


// Font collors
$mainFontColor					: #211F1F;
$alternativeBlackColor1		: #000000;
$mainFontColorOp8				: #4B4A4B;
$mainFontColorOp6				: #7A7979;
$mainFontColorOp4				: #A6A5A5;
$placeholderColor				: #C3C7D2;
$mainContrastColor			: #FFFFFF;

$datesColor						: #9B9FA6;

// Sizes
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$containerPadding			: 15px;

// Viewports
$bgDesktopWidth			 : 1800px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$lighter-color           : #FFFFFF;
$darker-section			 : #F5F6FA;
$primary-color           : #1377FF;
$warning-color				 : #D5322A;

// Border color
$border-base             : #EDEDED;
$border-focus            : $primary-color;


// Function vars



