.blog-section {

	.content-wrapper {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.section-header {
		margin: 0 0 40px 0;
	}
	.nm-wrapper{
		margin: 0 0 5px 0;

		&::before,
		&::after {
			margin: 0 -15px 0 0;
		}
		&>div {
			justify-content: center;
		}
	}
	.blog-entry {
		max-width: 370px;
		min-width: 250px;
		margin: 0 15px 40px 15px;
	}
	.button {
		display: flex;
		margin: auto;
	}
}


