.blog-entry {

	.bg-imager {
		display: block;
		background-size: cover;
		background-position: center;
		margin: 0 0 16px 0;
		padding-top: 70%;
	}
	.header {
		border-left: 4px solid $primary-color;
		padding: 3px 0 0 16px;
		margin: 0px 0 16px 0;

		h3 {
			font-family: $headerFont;
			font-weight: 600;
			font-size: 20px;
			padding: 0 0 2px 0;
		}
	}
	.date {
		font-weight: 600;
		color: $datesColor;
		margin: 0 0 10px 0;
	}
	.desc {
		line-height: 22px;
		opacity: 0.4;
		margin: 0 0 20px 0;
	}
	.read-more {
		font-family: $alternativeFont;
		display: inline-block;
		color: #2a323c;
		opacity: 0.8;
		padding: 10px;
    	margin: -10px;
	}
}
