.car-entry {
	background: #fff;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
	border-radius: 8px;
	overflow: hidden;
	text-align: left;

	.link-image {
		padding-top: 66%;
	}
	.content {
		padding: 19px 15px 16px 16px;
	}
	h3 {
		font-weight: 700;
		margin-bottom: 13px;
	}
	.price {
		font-weight: 700;
		font-size: 18px;
		color: $primary-color ;
		margin-bottom: 18px;

		&::before {
			content: '$ ';
		}
	}
	.ship-cost {
		color: $mainFontColorOp4;
		font-weight: 500;
		margin-bottom: 19px;

		span {
			font-weight: 500;
			color: $mainFontColor;
			margin: 0 0 0 3px;

			&::before {
				content: '$ ';
			}
		}
	}
	.properties {
		display: flex;
		align-items: center;
		margin: 0 -5px 0 -5px;

		& > div {
			display: flex;
			align-items: center;
		}
		&  > div + div {
			margin-left: 17px;
		}
		svg {
			margin-right: 6px;
		}
	}
	.source {
		display: flex;
		height: 57px;
		align-items: center;
		justify-content: center;
		border-top: 1px solid $border-base;
		font-weight: 600;
	}
}
