.car-entry-horizontal {
	border-radius: 8px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
	display: flex;
	flex-wrap: wrap;
	transition: all .3s;

	.close-button {
		position: absolute;
		width: 20px;
		height: 20px;
		background: url(../img/icon-watchlist-close.svg) center/auto no-repeat;
		top: 8px;
		right: 8px;
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
	}


	&:hover {
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);

		.content {
			border-top:    1px solid $placeholderColor;
			border-right:  1px solid $placeholderColor;
			border-bottom: 1px solid $placeholderColor;
		}
		.close-button {
			visibility: visible;
			opacity: 1;
		}

		.link-image::before {
			opacity: 0.2;
		}
	}

	.link-image {
		width: 274px;
		height: 209px;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: red;
			background: #000000;
			opacity: 0;
			transition: all .3s;
		}
	}
	.watching-counter {
		position: absolute;
		top:8px;
		left: 8px;
		background: rgba(255, 255, 255, 0.6);
		border-radius: 8px;
		color: $alternativeBlackColor1;
		padding: 8px 8px 7px 8px;

		&::after {
			content: 'watching';
			margin-left: 6px;
		}
	}
	.content {
		padding: 24px 32px 24px 24px;
		border-radius: 0 8px 8px 0;
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		border-top:    1px solid transparent;
		border-right:  1px solid transparent;
		border-bottom: 1px solid transparent;
		transition: all .3s;
	}
	.info {
		flex-grow: 1;

		.header {
			display: flex;
			margin: 0 0 16px 0;

			.title {
				font-weight: 700;
				font-size: 18px;
				color: $primary-color;
				padding: 0 24px 0 0;
			}
			.source {
				font-weight: 600;
				font-size: 18px;
				border-left: 1px solid $border-base;
				padding: 0 0 0 24px;
			}
		}
		.properties {
			margin: 0 0 20px 0;

			&::before, &::after {
				margin: 0 -16px 0 0;
			}
			li {
				margin: 0 16px 16px 16px;
				font-weight: 600;

				.name {
					color: $mainFontColorOp4;
					margin: 0 0 12px 0;

					&::after {
						content: ':'
					}
				}
			}
		}
		.auction-end-date {
			margin: 0 0 15px 0;
		}
	}
	.handling{
		width: 170px;

		.price {

			font-family: $mainFont;

			&:before {
				content: '$';
				margin: 0 4px 0 0;
			}
		}

		.button + .button {
			margin: 16px 0 0 0;
		}
		.ship-cost {
			margin: 17px 0 0 0;
			font-weight: 600;
			color: $mainFontColorOp4;
			width: 200px;

			span {
				color: $mainFontColor;

				&::before {
					content: '$ ';
				}
			}
		}
	}
}
