.footer-section {
	padding-top: 75px;
	padding-bottom: 30px;
	background: $darker-section;
	flex-shrink: 0;
	margin-top: auto;

	.follow {
		text-align: center;
		color: #000;
		margin: 0 0 17px 0;
	}
	.social {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 50px 0;

		li a {
			display: inline-block;
			padding: 10px;

			&:hover {
				box-shadow: 0 1px 0 0 $mainFontColor;
			}
		}
		.icon-wrapper {
			display: block;
		}
	}
	.bottom-line {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 14px;

		li + li {
			margin: 0 0 15px 25px;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}


@media screen and (max-width: $desktopWidth) {

}

@media screen and (max-width: $smDesktopWidth) {

}

@media screen and (max-width: $tableWidth) {

}

@media screen and (max-width: $phoneWidth) {

}
@media screen and (max-width: $smPhoneWidth) {

}

