.primary-header {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	position: relative;

	.info-section {
		background: $darker-section;

		.content-wrapper {
			&::before,
			&::after {
				margin: 0 -12px 0 0;
			}
			& > *:first-child {
				align-items: center;
			}
		}

		.tel {
			font-weight: 600;
			margin: 7px 7px 7px 7px;
			padding: 5px 6px 5px 6px;
		}
		.opening-hours {
			font-size: 14px;
			margin: 0 12px 0 12px;
			color: $mainFontColorOp8;
		}
		.account-zone {
			margin: 0 0 0 auto;
			display: flex;
			align-items: center;

			a {
				font-weight: 700;
				font-family: $headerFont;
				margin: 7px 7px 7px 7px;
				padding: 5px 6px 5px 6px;
				display: block;

				&.sing-up-link {
					color: $primary-color;
				}
			}
		}
	}
	.menu-section {
		.content-wrapper {
			&::before,
			&::after {
				margin: 0 -16px 0 0;
			}
			& > *:first-child {
				align-items: center;
			}
		}
		.header-logo {
			display: block;
			margin: 12px 6px 12px 6px;
			padding: 10px 10px 10px 10px;

			img {
				display: block;
			}
		}
		.menu {
			flex: 1 1 auto;
			margin: 0 16px 0 16px;

			&::before,
			&::after {
				margin: 0 -12px 0 0;
			}
			& > *:first-child {
				align-items: center;
				flex-wrap: wrap;
			}
			nav {
				display: flex;
				flex-wrap: wrap;
				a {
					padding: 30px 12px 30px 12px;
					position: relative;
					display: block;

					&.active {
						font-weight: 600;
						color: $primary-color;

						&::after {
							content: '';
							position: absolute;
							height: 4px;
							bottom: 0;
							left: 5px;
							right: 5px;
							background: $primary-color;
						}
					}
				}
			}
			.search {
				position: relative;
				margin: 0 0 0 auto;

				input {
					display: block;
					margin: 12px 12px 12px 12px;
					height: 40px;
					border-radius: 20px;
					background: #f5f6fa;
					padding: 0;
					font-size: 14px;
					transition: all 0.3s;
					width: 40px;
				}

				button {
					position: absolute;
					background: #f5f6fa;
					width: 40px;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50px;
					top: 12px;
					right: 12px;
				}
				&:hover input {
					padding: 0 40px 0 20px;
					width: 200px;
				}
			}
			.request-call-button {
				margin: 9px 12px 9px 12px;
			}
		}
	}
}
