// containers and wrappers
.container {
	padding-left: $containerPadding;
	padding-right: $containerPadding;
	overflow: hidden;
}
.content-wrapper {
	max-width: 1170px;
	margin: auto;
}
.nm-wrapper {
	display: flex;
	flex-wrap: nowrap;
}
.nm-wrapper::before,
.nm-wrapper::after {
	content: '';
	display: block;
}
.nm-wrapper > *:first-child {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-grow: 1;
}
.nm-wrapper > * + *:before {
	content: 'ERROR: nm-wrapper should have only one child';
	display: inline-block;
	background: red;
}

// headers
.section-header {
	font-family: $headerFont;
	font-weight: 700;
	font-size: 34px;
}

.section-header span,
.section-header strong {
	color: $primary-color;
}

//buttons
.button {
	width: 170px;
	height: 48px;
	border-radius: 4px;
	border: 1px solid $primary-color;
	font-family: $buttonFont;
	font-weight: 700;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	letter-spacing: 0.3px;
	color: $primary-color
}
.button_style_secondary {
	width: auto;
	padding: 0 10px 0 10px;
	border: 0;
	color: $mainFontColorOp8;

		&:hover {
			background: $darker-section;
		}
}
.button_style_solid {
	font-family: $headerFont;
	border: none;
	background: $primary-color;
	color: white;
}
.button_style_solid-gray {
	border: none;
	color: $primary-color;
	background: $darker-section;
}
.button_style_fullwidth {
	width: 100%;
}
.button_state_disable {
	opacity: .5;
	cursor: not-allowed;
}

//inputs and textareas
.input-group {

	label {
		margin: 0 0 10px 0;
		display: inline-block;
	}

	input {
		height: 38px;
		border: 1px solid $border-base;
		border-radius: 4px;
		padding: 0 8px 0 8px;
		display: block;
		width: 100%;

		&.filled {
			font-weight: 700;
		}
		&::placeholder {
			opacity: 1;
			color: $placeholderColor;
		}
		&:focus {
			border: 1px solid $border-focus;
		}
	}
	textarea {
		height: 80px;
		border: 1px solid $border-base;
		border-radius: 4px;
		padding: 5px 8px 5px 8px;
		display: block;
		width: 100%;
		line-height: 20px;
		resize: none;

		&::placeholder {
			opacity: 1;
			color: $placeholderColor;
		}

		&:focus {
			border: 1px solid $border-focus;
		}
	}
}
.input-group_type_dropdown {
	position: relative;

	input {
		padding: 0 34px 0 8px;

		&:focus + .dropdown-arrow {
			transform: rotate(180deg);
		}
	}
	.dropdown-arrow {
		position: absolute;
		left: calc(100% - 25px);
		bottom: 14px;
		width: 11px;
		height: 7px;
		background: url(../img/icon-input-arrow.svg) center/auto no-repeat;
		transition: transform 0.2s;
		cursor: text;
	}
}
// links
.link-image {
	display: block;
	background-position: center;
	background-size: cover;
}
//auction entry
.auction-end-date {
	font-weight: 600;

	&::before {
		color: $mainFontColorOp4;
		margin: 0 16px 0 0;
	}

	&.ends-in {
		color: $warning-color;

		&::before {
			content: 'Ends In:';
		}
	}
	&.end-date::before {
		content: 'End Date:';
	}
}
// modal window
.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
	background: rgba(0, 0, 0, .4);
	padding: 30px 0 30px 0;
	z-index: 999;

	.modal-window {
		border-radius: 8px;
		background: $lighter-color;
		margin-top: auto;
		margin-bottom: auto;
		padding: 25px;
		color: $alternativeBlackColor1;
		position: relative;

		.close-modal {
			background: url(../img/icon-close-modal.svg) center/auto no-repeat;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 5px;
			right: 5px;
			cursor: pointer;
		}

		.modal-title {
			color: $mainFontColor;
			font-weight: 700;
			font-size: 24px;
			margin: 0 0 30px 0;
		}
		p {
			margin: 0 0 30px 0;
			line-height: 22px;
		}
	}
}
// popup
.popup {
	position: fixed;
	bottom: 32px;
	left: 32px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	border: 1px solid $border-base;
	background: $lighter-color;
	padding: 17px 25px;
	color: black;
	z-index: 3;
}



