.product-auction-section {
	.content-wrapper {
		padding: 48px 0 0 0;
	}

	.header-zone {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 0 35px 0;

		.section-header {
			display: flex;

			.year {
				font-family: $mainFont;
				background: $darker-section;
				border-radius: 8px;
				width: 73px;
				text-align: center;
				padding: 10px 0 9px 0;
				margin: 0 16px 0 16px;
				font-weight: 600;
				font-size: 21px;
			}
		}
		.auction-end-date {
			margin: 0 0 0 auto;
		}
	}
	.photo-bid-zone {
		margin: 0 0 48px 0;

		.content-wrapper {
			margin: 0 0 48px 0;
		}

		&::before,
		&::after {
			margin: 0 -15px 0 0;
		}
		.slider-wrapper {
			flex: 1 1 calc(66.666% - 30px);
			margin: 0 15px 0 15px;
			position: relative;
			flex-grow: 1;
			overflow: hidden;
			min-width: 500px;

			.item-handler {
				position: absolute;
				display: flex;
				top: 26px;
				right: 26px;
				z-index: 2;

				a {
					display: block;
					width: 35px;
					height: 35px;
					background-position: center;
					background-size: auto;
					background-repeat: no-repeat;
					margin: 0 0 0 10px;

					&.add-wathlist {
						background-image: url(../../src/img/icon-add-to-checklist.svg);
					}
					&.add-compare {
						background-image: url(../../src/img/icon-add-compare.svg);
					}
				}
			}
		}
		.slider {
			height: 390px;
			overflow: hidden;
			border-radius: 8px;

			.owl-stage {
				& > div {
					overflow: hidden;
				}

				& > div:first-child {
					border-radius: 8px 0 0 8px;
				}
				& > div:last-child {
					border-radius: 0 8px 8px 0;
				}
			}

			.owl-item::before {
				content: '';
				display: block;
				background: #000;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}

			.slide {
				width: 100%;
				height: 390px;
				background-position: center;
				background-size: cover;
				opacity: 0.8;
				position: relative;

				.counter {
					position: absolute;
					background: rgba(255, 255, 255, 0.6);
					border-radius: 8px;
					color: $alternativeBlackColor1;
					width: 62px;
					text-align: center;
					padding: 7px 0 7px 0;
					bottom: 8px;
					left: 8px;
				}
			}
			.owl-nav {
				button {
					position: absolute;
					width: 40px;
					height: 40px;
					display: block;
					top: calc(50% - 20px);
					background: url(../../src/img/icon-arrow-slider.svg) center/auto no-repeat;

					&.owl-next {
						right: 0;
						transform: rotate(180deg);
					}
				}
			}
		}

		.auction-info {
			flex: 1 1 calc(33.333% - 30px);
			margin: 0 15px 0 15px;

			.info {
				li {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin: 0 0 27px 0;

					.name {
						color: $mainFontColorOp6;
						margin: 0 10px 0 0;
					}
					.value {
						font-weight: 600;
						font-size: 18px;
						color: $alternativeBlackColor1;
					}
				}
			}
			.bid {
				.input-group {
					padding: 0 0 16px 0;
					margin: 0 0 16px 0;
					border-bottom: 1px solid $border-base;

					input {
						margin: 0 0 16px 0;
					}
				}
			}
			.account {
				margin: 0 0 20px 0;

				li {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin: 0 0 12px 0;

					.name {
						color: $mainFontColorOp6;
						margin: 0 10px 0 0;
					}
					.value {
						font-weight: 600;
						font-size: 18px;
						color: $alternativeBlackColor1;
					}
					&.total {
						padding: 17px 0 0 0;
						border-top: 1px solid $border-base;
						margin: 20px 0 0 0;
					}
				}
			}
			.enquery-form {
				margin: 0 0 8px 0;

				.input-group {
					margin: 0 0 16px 0;
				}
			}
		}
	}
	.options-zone {
		margin: 0 0 18px 0;

		&::before,
		&::after {
			margin: 0 -15px 0 0;
		}

		a {
			display: block;
			width: calc(25% - 30px);
			min-width: 200px;
			height: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 700;
			font-size: 18px;
			margin: 0 15px 30px 15px;
			border-radius: 8px;
			border: 1px solid $primary-color;
		}
	}
	.details-zone {
		margin: 0 0 50px 0;
		display: flex;
		align-items: center;

		ul {
			display: flex;

			li {
				margin: 0 32px 0 0;
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
			}
		}
		.car {
			font-weight: 700;
			font-size: 20px;
		}
		.colors {
			.color-instance {
				width: 32px;
				height: 32px;
				border: 1px solid $border-base;
				border-radius: 4px;
				margin: 0 16px 0 0;
			}
		}
	}
	.details-iconed-zone {
		margin: 0 0 48px 0;

		&::before,
		&::after {
			margin: 0 -15px 0 0;
		}
		li {
			margin: 0 15px 0 15px;
			width: 170px;
			height: 170px;
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
			border-radius: 8px;
			padding: 16px 0 26px 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			background-position: center;
			background-size: auto;
			background-repeat: no-repeat;

			.name {
				color: $mainFontColorOp8;
			}
			.value {
				font-weight: 600;
				font-size: 20px;
			}
		}
	}
	.description-zone {
		margin: 0 0 96px 0;

		&::before,
		&::after {
			margin: 0 -15px 0 0;
		}
		.tabs {
			margin: 0 15px 0 15px;
			max-width: 767px;
			flex-grow: 1;
			display: flex;
			flex-direction: column;

			.tab {
				display: none;
				overflow: hidden;
				border-radius: 0 0 8px 8px;
				border: 1px solid $border-base;
				flex-grow: 1;

				&.active {
					display: block;
				}
			}

			.tabular-menu {
				display: flex;
				flex-wrap: wrap;

				div {
					font-family: $headerFont;
					font-size: 18px;
					max-width: 25%;
					min-width: 15%;
					height: 40px;
					flex-grow: 1;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;

					&.active {
						font-weight: 700;
						color: $primary-color;
						border-bottom: 4px solid $primary-color;
					}
				}
			}
			.list-table {
				border-bottom: 40px solid $darker-section;

				li {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: center;
					min-height: 44px;
					padding: 0 40px 0 40px;

					&:nth-child(odd) {
						background: $darker-section;
					}

					.name {
						font-weight: 600;
						color: $mainFontColorOp4;
						margin: 0 10px 0 0;
					}
					.value {
						font-weight: 600;
					}
				}
			}
		}
		.form-wrapper {
			max-width: 370px;
			min-width: 290px;
			flex-grow: 1;
			margin: 0 15px 0 15px;
			border-radius: 8px;
			border: 1px solid $border-base;
			padding: 16px 24px 32px 24px;
		}
		.have-questions-form {
			.header {
				font-weight: bold;
				font-size: 18px;
				color: $alternativeBlackColor1;
				margin: 0 0 16px 0;
			}
			.input-group {
				margin-bottom: 12px;
			}
			button {
				margin-top: 12px;
			}
		}
	}
	.modal-content-bid-confirmation,
	.modal-content-buy-now {
		max-width: 322px;

		.account {
			li {
				display: flex;
				justify-content: space-between;
				margin: 0 0 10px 0;
				font-size: 14px;

				&.primary-element,
				&.total {
					font-size: 16px;

					.name {
						font-weight: 600;
					}
				}
				&.total {
					margin: 20px 0 32px 0;
					padding: 24px 0 0 0;
					border-top: 1px solid $border-base;
				}
			}
		}
		.terms {
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 16px;
		}
	}

	.module-content-phohe-bidding {
		max-width: 332px;

		.bidding-form {

			.input-group {
				margin: 0 0 25px 0;
			}

			button {
				margin: 7px 0 0 0;
			}
		}
	}
	.popup-content-bid-placed {
		background: url(../img/icon-bid-popup.svg) 0% 50% / auto no-repeat;
		padding: 11px 0 10px 50px;

		.chosen-item {
			color: $primary-color;
			font-weight: 700;
		}
	}
}
