.related-cars-section {

	.section-header {
		text-align: center;
		margin: 0 0 40px 0;
	}

	.items {
		&::before,
		&::after {
			margin: 0 -15px 0 0;
		}
		&>div {
			justify-content: center;
		}

		.car-entry {
			margin: 0 15px 30px 15px;
			max-width: 270px;
		}
	}
}
