.estimate-section {
	padding: 30px 0 0;
	background: linear-gradient(95.92deg, $primary-color 0%, #0143BE 100%);

	.content-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		flex: 1 1 auto;
		margin: 0 15px 36px;
	}
	.icon-wrapper {
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0 21px;
	}
	.value {
		font-weight: bold;
		font-size: 40px;
		color: $mainContrastColor;
		text-align: center;
	}
	.estimate-section_glassdoor-margin {
		margin: 21px 0 0 0;
	}
}
