.explore-zone {
	padding-top: 100px;
	padding-bottom: 95px;
	padding-left: 0;
	padding-right: 0;

	.content-wrapper {
		text-align: center;
		overflow: hidden;
		max-width: 1900px;
		padding: 0 57px 0 57px;
	}
	.car-entry {
		max-width: 290px;
	}

	h2 {
		font-weight: bold;
		font-family: $headerFont;
		margin-bottom: 33px;
	}
	.owl-carousel {
		margin: 0 0 32px 0;
	}
	.owl-item {
		padding: 10px;
	}
	.owl-nav {
		button {
			position: absolute;
			width: 74px;
			height: 74px;
			border-radius: 50%;
			display: block;
			cursor: pointer;
			z-index: 2;
			top: 50%;
			transform: translateY(-50%);

			&.owl-prev {
				background: url(../../src/img/slider-arrow-left.svg) center/auto no-repeat;
				left: -55px;
			}
			&.owl-next {
				background: url(../../src/img/slider-arrow-right.svg) center/auto no-repeat;
				right: -55px;
			}
		}
	}
}

@media screen and (max-width: $bgDesktopWidth) {
	.explore-zone .cars-wrapper>ul {
		max-width: 900px;
	}
}
@media screen and (max-width: $phoneWidth) {
	.explore-zone {

		.content-wrapper {
			margin: 0;
			padding: 0 30px;
			overflow: hidden;
		}

		.owl-nav button.owl-prev {
			background: url(../../src/img/slider-arrow-left.svg) center/auto no-repeat;
			left: -53px;
		}
		.owl-nav button.owl-next {
			background: url(../../src/img/slider-arrow-right.svg) center/auto no-repeat;
			right: -53px;
		}
	}
}
