.get-started-section {
	padding-top: 60px;
	padding-bottom: 70px;
	background-size: cover;
	background-position: center;
	text-align: center;

	.section-header {
		color: $mainContrastColor;
		font-size: 40px;
		line-height: 48px;
		margin: 0 auto 35px auto;
		max-width: 970px;
		text-transform: initial;
	}
	p {
		font-size: 20px;
		line-height: 25px;
		color: $mainContrastColor;
		margin: 0 auto 45px auto;
		max-width: 746px;
	}
}

@media screen and (max-width: $tableWidth) {
	.get-started-section .section-header {
		font-size: 30px;
		line-height: 45px;
	}
}
