.how-section {
	padding-top: 100px;
	padding-bottom: 95px;
	text-align: center;
	background: $darker-section;

	.section-header {
		margin-bottom: 78px;
		font-family: $headerFont;
	}
	.items-wrapper {
		margin: 0 -15px -19px;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			li {
				margin: 0 15px 67px;
				background: #fff;
				border-radius: 8px;
				box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
				padding: 64px 15px 40px;
				position: relative;
				height: 289px;
				max-width: 370px;
				flex-grow: 1;

				&::before {
					display: flex;
					position: absolute;
					width: 74px;
					height: 74px;
					border-radius: 50%;
					box-shadow: 0 0 0 2px #fff inset;
					border: 2px solid #F5F6FA;
					background: #C3C7D2;
					top: -37px;
					left: calc(50% - 37px);
					align-items: center;
					justify-content: center;
					font-family: $headerFont;
					font-weight: bold;
					font-size: 34px;
					color: $mainContrastColor;
				}
				&:nth-child(1)::before {content: "01"}
				&:nth-child(2)::before {content: "02"}
				&:nth-child(3)::before {content: "03"}
				&:nth-child(4)::before {content: "04"}
				&:nth-child(5)::before {content: "05"}
				&:nth-child(6)::before {content: "06"}
				h3 {
					font-family: $headerFont;
					font-weight: 600;
					font-size: 20px;
					padding-bottom: 16px;
				}
				p {
					font-size: 20px;
					line-height: 25px;
					color: #000000;
					display: inline-block;
					max-width: 247px;
				}
			}
			.icon-wrapper {
				display: inline-flex;
				width: 70px;
				height: 70px;
				justify-content: center;
				align-items: center;
				margin-bottom: 32px;
			}
		}
	}
	.how-section .button {
		margin: auto;
	}
}
