.main-image-zone {
	padding-top: 8.3%;
	padding-bottom: 8.3%;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) inset;

	.nm-wrapper>div {
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}

	.site-intro {
		flex: 0 1 568px;
		order: 2;
		margin: 64px 0 0 25px;

		.section-header_primary {
			font-size: 42px;
			margin: 0 0 35px 0;
			text-transform: initial;
			line-height: 50px;
			color: $mainContrastColor;
		}

		p {
			font-weight: 600;
			font-size: 32px;
			color: #ffffff;
		}
	}
	.main-search {
		background: #ffffff;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
		border-radius: 8px;
		padding: 25px 24px 33px;
		flex: 0 1 470px;

		h2 {
			font-family: $headerFont;
			font-weight: bold;
			font-size: 32px;
			text-align: center;
			color: #0f1318;
			margin-bottom: 40px;
		}

		.main-search__inputs-wrapper {
			margin: 0 -8px;
		}

		.main-search__inputs {
			display: flex;
			flex-wrap: wrap;

			label {
				color: #000;
			}

			.input-group {
				position: relative;
				width: calc(50% - 16px);
				margin: 0 8px 18px;
			}

			.input-group:last-child {
				width: 100%;
				margin-bottom: 22px;
			}
			.price-picker {
				position: absolute;
				background: #fff;
				z-index: 1;
				width: 272px;
				height: 151px;
				border: 1px solid #ededed;
				border-radius: 4px;
				top: 70px;
				padding: 30px 24px 24px 23px;
				display: none;

				.price-picker__line {
					background: $placeholderColor;
					height: 2px;
					border-radius: 2px;
					position: relative;
					margin-bottom: 21px;
				}
				.price-picker__inner-line {
					background: $primary-color ;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 12%;
					right: 0;

					div {
						position: absolute;
						width: 18px;
						height: 18px;
						top: -8px;
						cursor: pointer;
					}
				}
				.price-picker__inner-line-beginning {
					left: 0px;
				}
				.price-picker__inner-line-end {
					right: -1px;
				}
				.price-range {
					display: flex;
					margin-bottom: 14px;
					justify-content: space-between;

					input {
						width: 104px;
						display: block;
						padding: 0 8px;
						color: #000;

						&::before {
							content: '$ ';
						}
					}
				}
				.price-picker__apply-button {
					font-weight: 600;
					color: $primary-color ;
					margin: 0 3px 0 auto;
					display: block;
					width: 42px;
					font-family: $headerFont;
				}
			}
			#price:focus ~ .price-picker {
				display: block;
			}
		}
	}
}

@media screen and (max-width: $smDesktopWidth) {
	.main-image-zone {
		padding: 200px 0 100px 0;

		.site-intro {
			order: 0;
			margin: 0 0 50px 0;
			text-align: center;
		}

		.content-wrapper {
			flex-wrap: wrap;
			justify-content: center;
		}

		.nm-wrapper>div {
			justify-content: center;
			flex-wrap: wrap;
		}
	}
}

@media screen and (max-width: $tableWidth) {
	.main-image-zone {
		padding: 200px 0 0 0;
	}
	.main-image-zone .main-search {
		flex: 1 1 auto;
		margin: 0 -$containerPadding 0 -$containerPadding;
		border-radius: 0;
	}
	.main-image-zone .main-search .main-search__inputs .price-picker {
		left: calc(-100% - 17px);
		width: calc(200% + 17px);
	}
}

@media screen and (max-width: $phoneWidth) {
	.main-image-zone .main-search .main-search__inputs > div {
		width: 100%;
	}
	.main-image-zone .main-search .main-search__inputs .price-picker {
		left: 0;
		width: 100%;
	}
}
