.news-section {
	padding-top: 100px;
	padding-bottom: 40px;

	.section-header {
		text-align: center;
		margin: 0 0 43px 0;
	}
	.items-wrapper {
		margin: 0 -15px;

		&>div {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.blog-entry {
			max-width: 370px;
			margin: 0 15px 60px 15px;
		}
	}
}



