.what-section {
	padding-top: 100px;
	padding-bottom: 95px;
	padding-left: 0;
	padding-right: 0;
	background: $darker-section;
	margin: 0;

	.content-wrapper {
		padding: 0 74px;
		overflow: hidden;
		max-width: 1318px;
	}

	.section-header {
		text-align: center;
		margin: 0 0 44px 0;
	}

		.owl-nav {
			button {
				position: absolute;
				width: 74px;
				height: 74px;
				border-radius: 50%;
				display: block;
				cursor: pointer;
				z-index: 2;
				top: 50%;
				transform: translateY(-50%);

				&.owl-prev {
					background: url(../../src/img/slider-arrow-left.svg) center/auto no-repeat;
					left: -74px;
				}
				&.owl-next {
					background: url(../../src/img/slider-arrow-right.svg) center/auto no-repeat;
					right: -74px;
				}
			}
		}

		.carousel-item {
			background: #ffffff;
			border: 1px solid #ededed;
			padding: 25px 24px 25px 24px;

			& > p {
				line-height: 22px;
				margin: 0 0 16px 0;
			}
		}

	.icon-wrapper {
		text-align: center;
		margin: 0 0 20px 0;

		svg {
			margin: 0 2px 0;
		}
	}
	.footer {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.author {
			font-weight: 600;
			color: $mainFontColorOp8;

			.name {
				margin: 0 0 5px 0;
			}
		}
		.date {
			font-weight: 600;
			color: $mainFontColorOp6;
			line-height: 16px;
		}
	}
}


@media screen and (max-width: $phoneWidth) {
	.what-section {

		.content-wrapper {
			margin: 0;
			padding: 0 30px;
			overflow: hidden;
		}

		.owl-nav button.owl-prev {
			background: url(../../src/img/slider-arrow-left.svg) center/auto no-repeat;
			left: -53px;
		}
		.owl-nav button.owl-next {
			background: url(../../src/img/slider-arrow-right.svg) center/auto no-repeat;
			right: -53px;
		}
	}
}



