.why-section {
	padding-top: 100px;
	padding-bottom: 90px;

	.section-header {
		text-align: center;
		margin: 0 0 40px;
	}
	.items-wrapper {
		margin: 0 -15px;

		& > ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		li {
			flex: 1 1 auto;
			margin: 0 15px 34px;
			color: #000;
			padding: 0 20px 0 0;
			max-width: 370px;
			min-width: 100px;
		}
	}
	.icon-wrapper {
		display: flex;
		width: 65px;
		height: 70px;
		align-items: center;
		margin: 0 0 15px;
		justify-content: center;
	}
	h3 {
		font-family: $headerFont;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 15px;
	}
	p {
		line-height: 22px;
	}
}
