@import 'utils/reset';
@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';

html {
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	height: 100%;

	@media screen and (max-width: $desktopWidth) {
		font-size: 16px;
	}
	@media screen and (max-width: $tableWidth) {
		font-size: 15px;
	}
	@media screen and (max-width: $phoneWidth) {
		font-size: 14px;
	}
}

body {
	background: $lighter-color;
	color: $mainFontColor;
	font-family: $mainFont;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;

	&.freezed {
		overflow: hidden;
	}

	& main > div:last-child {
		margin-bottom: auto;
	}
}

a {
	color: inherit;
}

@import 'modules/common/tiny-modules';
@import 'modules/common/blog-entry';
@import 'modules/common/car-entry';
@import 'modules/common/car-entry-horizontal';

@import 'modules/common/header';
@import 'modules/common/footer';

@import 'modules/home_page/main-image-zone';
@import 'modules/home_page/explore-zone';
@import 'modules/home_page/how-section';
@import 'modules/home_page/why-section';
@import 'modules/home_page/estimate-section';
@import 'modules/home_page/what-section';
@import 'modules/home_page/news-section';
@import 'modules/home_page/get-started-section';

@import 'modules/blog/blog/blog-section';

@import 'modules/blog/blog_post/blog-post-section';

@import 'modules/watchlist/watchlist';

@import 'modules/product_page/product-page';
@import 'modules/product_page/related-cars-section';

